/*글씨체 등록*/

.f_jua{
    font-family:"myfont1";
}
/*.f20{
    font-family:"myfont1";
    font-size: 20px;
}
.f30{
    font-family:"myfont1";
    font-size: 30px;
}
.f50{
    font-family:"myfont1";
    font-size: 50px;
}*/


.f20.f_jua{font-size: 20px;}
.f30.f_jua{font-size: 30px;}
.f20.f30.f_jua{font-size: 50px;} /*중요~~클래스 중첩 가능~~*/


.f_gabi{
    font-family: myfont2;
    
}
.f20.f_gabi{font-size: 20px;}
.f30.f_gabi{font-size: 30px;}
.f20.f30.f_gabi{font-size: 50px;} 

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.lotte_font{ font-family: 'Giants-Bold';}



