*{margin: 0; padding: 0;}
ol,ul{list-style: none;}
a{color: inherit; text-decoration: none;}
img{max-width: 100%;}
html{font-size:20px}
/* layout은 큰 영역->작은 영역 순으로 크기와 배치를 맞춘다.!!!!! */

header{
    background: rgb(44, 59, 41);
    height: 100px;
    color: white;
    position: relative;
    z-index: 1000; 
    /* z인덱션은포지션이 있어야 사용가능 숫자가 클수록 앞으로 배치됨*/
}
.banner{ height: 600px;}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* contain -이미지가 무조건 들어가게.. cover- 화면을 가득채움 이미지가 잘릴 수도 있음 */
}
.content1200{
    /* border: 1px solid yellow; */
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}


/* 2뎁스 position absolute */
.gnb{
    /* border: 3px solid blue; */
    display: flex;
    width: 800px;
   
}
.gnb>li{
    border: 1px solid blue;
    height: 100px;
    margin-right: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.gnb>li:last-of-type{ margin-right: 0;}
.gnb ul{
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background: rgb(72, 85, 72);
    /* opacity: 0; */
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    padding: 0px 0;
    transition: all 1s ease 0.7s;
    /* pointer-events: none; */
}
    .gnb>li:hover>ul{
        height: 200px;
        padding: 20px 0;
        /* opacity: 1; */
       /* pointer-events: auto; */
    }
    /* 안보이게 하는거 : 오퍼시티 ,높이 , display none중에.... */

    .gnb>li>a{
    border: 1px solid yellow;
}

.gnb ul>li{
    border-bottom: 1px solid white;
    padding: 5px 0;

}