*{
    margin: 0;
    padding: 0;
}
.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner>video{
    /* width: 100%; */
    object-fit: cover;
    filter: brightness(0.7);

}
.txt{
    opacity: 0;
    /* border: 1px solid lime; */
    color: white;
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    padding: 30px;
    box-sizing: border-box;
    /* flex-direction: column; */

    
    /* background: pink;
    mix-blend-mode:hard-light;
    padding: 20px; 
    position: absolute;
    width: 400px;
    height: 400px;
    right: 10%;
    top: calc(50% - 200px); */
 
}
.txt h1{
    font-size: 5rem;
    line-height: 0.84;
    margin-bottom: 30px;
    
}
